

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    
}
body{
  background-color:rgb(78, 76, 76);
  
}
#header{
    height: 50px;
    background-color: black;
}

#header img{

    height: 50px;
}
#header ul{ list-style: none;
    float: right;
   
    margin-top: 25px;
padding-right: 30px;


}
#header ul li{
    text-decoration: none;
    display: inline;
 
    padding-top: 10px;
}
#header ul li a{
    padding: 30px;
    text-align: center;
    text-decoration: none;
    
}
#header ul li a:link{
    color: white;
}
#header ul li a:visited{
    color: rgb(148, 136, 136);
}

#header ul li a:hover{
    color:rgb(139, 85, 13)
}
#header ul li a:active{
    color: greenyellow;
}
.clear{
    clear: both;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;

}
.banner{
    background-color:black
    ;   
    height: 600px;
} 

 .banner-text {
     text-align: center;  
     

}
.banner .banner-text p{
    text-align: center;
    padding:  100px 100px 0px 100px;
}
 .banner .banner-text h1{
     text-align: center;
    padding: 10px;
 }
 .banner .banner-btn  {
    
     text-align: center;
    
 }
 .banner .banner-btn button{
    border: 1px solid red;
    background-color:black;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 20px;
    margin: 15px 0px 0px 10px;
    border-radius: 22.5px;
    
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    
 }
 .wrapper{
    
    height: 600px;
 }
 .main{ background-color: rgb(197, 31, 114);
     
 }
 .main1{
     height: 300px;
     width: 300px;
     background-color: rgb(26, 22, 22);
     float: left;
     box-sizing: border-box;
     border-right: 2PX double orangered;
     margin-left: 200px;
     margin-top: 10px;
     text-align: center;
     padding: 11px;
 }
     .main1 h2{
         color:wheat;
     }
 .main p , p2 {
     padding:11px;
     color: wheat;
 }
 .main1 button{
    padding: 15px 30px; 
    margin: 15px;
background-color: orangered;
border: 1px  orangered;
 }
 .main2{
     height: 300px;
   width: 300px;
    background-color: rgb(26, 22, 22);
    float: right;
    margin-right: 200px;
    margin-top: 10px;
    padding-top :20px;
    text-align: center;
    padding-bottom: 10px;
    border-left: 2px double orangered;


 }
 .t1{background-color: papayawhip;
    height: 330px;
    width: 100%;

 }
 
.text-1{
    clear: both;
    background-color: rgb(211, 203, 206);
    height: 300px;
    width: 300px;
    float: left;
    margin: 20px;
    
}
.t1 .text-1 h1,p,h2{
    padding: 10px;
    text-align: center;

}
.trainer img{
    height: 300px;
    width: 300px;
    float: left;
    margin: 20px;
    margin-left: 100px;
   
}
.div img{
    height: 300px;
    width: 300px;
    float: right;
    margin: 20px;
    margin-right: 180px;
   
}
 .div img:hover{
     border: 1px solid orangered;
 }
 .trainer img :hover{
     border: 1px solid orangered;

 }
/*}
.gallery{

    clear: both;
    float: left;
    border: 1px solid green;
height: 200px;
height: 200px;
margin:15px ;
}
.gallery:hover{
    border: 1px solid greenyellow;
}
.desc{
    margin: 15px;
    color: honeydew;
    text-align: center;
} */
div.gallery {
    margin-left: 150px;
    margin-right: 20px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    position: relative;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: 150px;
   
    clear: both;
    
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    
  }
  .contact-for{

    clear: both;
    background-color:white;
    height: 460px;
    width: 100%;
   position: relative;
  }
  .form{
      float: left;
      height: 400px;
      width: 400px;
      border: 1px solid wheat;
      margin: 15px;
      padding: 15px 0px  10px 20px; 
      position: absolute;
      left:50px;
      


  }
  .contact-for .form button{
      padding: 10px 20px;
      color: cadetblue;
      text-align: center;
     box-sizing: border-box;
     border: 1px double orangered;
     background-color: palegreen;
     margin-left: 20px;
  }
  .findus{
      height: 400px;
      width: 430px;
      float: right;
      text-align: center;
      border: 1px solid wheat;
     background-color:white;
     margin: 15px;
    position: absolute;
    right: 50px;
  }
  #page-footer{
      background-color: black;
      height: 50px;
      
      border-top: 1px solid white;
     

  }
  #page-footer p{
      color: white;
      display: inline;
      margin: 10px;
     
      

  }
 
  .icom{
      position: relative;
  }

  #page-footer .icon img{
     float: right;
     padding: 15px;


  
 